@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <img src="~/Content/lt.jpg" />
    <p></p>
    <p class="lead">Welcome to the local theatre website. here you will find all the posts and articles about the local theatre and upcoming events </p>
    <p><a href="http://www.localtheatre.net" class="btn btn-primary btn-lg">localtheatre.net &raquo;</a></p>

</div>
 <div class="slider">
     <div><img src="https://exeternorthcott.co.uk/wp-content/uploads/2017/05/ETO-Cleopatras-Needle-Web-Banner-900x300.jpg" /></div>
     <div><img src="https://i2.wp.com/davidglassensemble.org/wp-content/uploads/2017/05/IMG_0398-1.jpg?resize=900%2C300" /></div>
     <div><img src="https://pbs.twimg.com/media/DIQtg7bUMAA-50f.jpg" /></div>
 </div>
<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            you can take a look at the posts, sign up or log in to be able to comment on posts
        </p>
        <p></p>
    </div>
    <div class="col-md-4">
        <h2>upcoming events</h2>
        <p>head to out posts page to see all the upcoming events</p>
        <p></p>
    </div>
    <div class="col-md-4">
        <h2>special offers</h2>
        <p>there are also special offers, for more information ask the LocalTheatre staff</p>
        <p></p>
    </div>
</div>

<script>
$(".slider").slick({

  // normal options...
  infinite: false,

  // the magic
  responsive: [{

      adaptiveheight: true,
      infinite: true,
      breakpoint: 1024,
      settings: {
        slidesToShow: 3,
        infinite: true
      }

    }, {

      breakpoint: 600,
      settings: {
        slidesToShow: 2,
        dots: true
      }

    }, {

      breakpoint: 300,
      settings: "unslick" // destroys slick

    }]
});
</script>